extends  ../layouts/main/layout



block title
    | Mono

block content
    
    section.section.section__hero.hero
        .container 
            .hero__head 
                .logo
                    img(src="/src/assets/icons/logo.svg") 
                .nav 
                    .nav__title 
                        | Есть аккаунт?
                    .nav__controlls 
                        .btn 
                            | Войти
            .hero__main
                
                img(src=logoSrc)
                img(src="/src/assets/img/hero_decor.svg").hero__decor-img
                .hero__info
                    .hero__title 
                        div(style="text-transform: uppercase") 
                            | моно
                        div     
                            | Управлять арендой - это легко!
                    .hero__subtitle 
                        | Все инструменты в одном месте
                    .hero__controlls
                        .btn 
                            | Попробовать сейчас!
                        .btn-secondary
                            | 30 ДНЕЙ БЕСПЛАТНО
    section.section.section__problem.problem
        .container 
            .problem__head
                .problem__title Большиство собственников недвижимости, 
                .problem__subtitle сдающих объект в аренду, не имеют инструмента для управления процесса.
            .problem__body  
                img(src="/src/assets/img/problem_decor.svg", alt="").problem__img
                .problem__info
                    .problem__info_title Это приводит:
                    ul.problem__info_list  
                        li.problem__info_item к финансовым потерям
                        li.problem__info_item нарушениям условий договора
                        li.problem__info_item конфликтам с арендатором
                        li.problem__info_item ущербу недвижимости
    section.section.section__present.present
        .container
            .present__head
                .present__info
                    .present__title Представляем универсальный инструмент для управления недвижимостью
                    .present__logo 
                        img(src="/src/assets/img/logo_mono.svg")
                    .present__actions
                        .btn Попробовать сейчас!
                        .present__disclamer 30 ДНЕЙ БЕСПЛАТНО
                .present__img
                    img(src="/src/assets/img/present_app.svg")
            .present__body
                .cases
                    ul.cases__list
                        - 
                            var cases = [
                                {iconPath: '/src/assets/img/cases/case_star.svg', desc: 'Создавайте и редактируйте подробный профиль объекта'},
                                {iconPath: '/src/assets/img/cases/case_renter.svg', desc: 'Подключайте Аренду и контролируйте исполнение условий'},
                                {iconPath: '/src/assets/img/cases/case_settings.svg', desc: 'Функционал для Управляющего Вашими объектами'},
                                {iconPath: '/src/assets/img/cases/case_time.svg', desc: 'Сохранение всех событий в созданном объекте'},
                                {iconPath: '/src/assets/img/cases/case_comments.svg', desc: 'Всегда на связи в едином цифровом пространстве'},
                            ]
                        each caseItem in cases
                            li.cases__item
                                img(src=caseItem.iconPath).cases__img
                                .cases__desc= caseItem.desc
                    img(src='/src/assets/img/cases/cases_images.svg').cases__images  
                .present__actions
                    .btn Попробовать сейчас!
    section.section.section__tariffs.tariffs
        .container
            .tariffs__head
                img(src="/src/assets/img/tariffs/tariffs__decor.svg", alt="").tariffs__decor
                .tariffs__title Выбирайте подходящий тариф для комфортной работы
            .tariffs__body
                ul.tariffs__list
                    -
                        var tariffs = [
                            {
                                name: 'Базовый',
                                title: 'Бесплатно',
                                previewImgPath: '/src/assets/img/tariffs/tariff_base.svg',
                                type: 'base',
                                desc: [
                                    {iconPath: '/src/assets/icons/real_estate.svg', text: [
                                        "Возможность создать один объект недвижимости*",
                                        "Возможность создания одной аренды сроком до 12 месяцев**"
                                    ]},
                                    {iconPath: '/src/assets/icons/counters.svg', text: [
                                        "Возможность создания счетчиков, уведомлений о внесении показаний и платежных днях",
                                    ]},
                                    {iconPath: '/src/assets/icons/done.svg', text: [
                                        "Создание, редактирование, согласование ремонтов",
                                        "Добавление, удаление, просмотр документов",
                                        "Просмотр событий на Объекте",
                                        "Редактирование профиля",
                                        "Чат с техподдержкой, арендатором, получение системных уведомлений",
                                        "Функционал календаря",
                                        "Подключение платных услуг",
                                    ]},
                                    {iconPath: '/src/assets/icons/extra.svg', text: [
                                        "*Удаление единственного объекта недвижимости ведет к невозможности создания новых.",
                                        "**Создание дочерней аренды не может превышать срок родительской аренды."
                                    ], isExtra: true },
                                ]
                            },
                            {
                                name: 'Максимальный',
                                title: '5000 рублей в месяц',
                                previewImgPath: '/src/assets/img/tariffs/tariff_max.svg',
                                type: 'max',
                                desc: [
                                    {iconPath: '/src/assets/icons/real_estate.svg', text: [
                                        "Возможность создавать до десяти объектов недвижимости одновременно*",
                                        "Неограниченное количество аренд на созданные объекты",
                                        "Подключение Управляющего",
                                        "Создание объекта сверх пакета за дополнительную плату",
                                    ]},
                                    {iconPath: '/src/assets/icons/counters.svg', text: [
                                        "Возможность создания счетчиков, уведомлений о внесении показаний и платежных днях",
                                        "Прикрепление фото к показаниям счетчиков",
                                        "Передача показаний счетчиков в Управляющую компанию по email*",
                                    ]},
                                    {iconPath: '/src/assets/icons/done.svg', text: [
                                        "Создание, редактирование, согласование ремонтов",
                                        "Добавление, удаление, просмотр документов",
                                        "Просмотр событий на Объекте",
                                        "Редактирование профиля",
                                        "Чат с техподдержкой, арендатором, получение системных уведомлений",
                                        "Функционал календаря",
                                        "Подключение платных услуг",
                                    ]},
                                    {iconPath: '/src/assets/icons/extra.svg', text: [
                                        "*Объекты можно удалять и создавать новые, но одновременно не может быть более десяти созданных объектов.",
                                        "** Если УК поддерживает функционал передачи показаний счетчиков по email",
                                    ], isExtra: true},
                                ]
                            },
                            {
                                name: 'Оптимальный',
                                title: '700 рублей в месяц',
                                previewImgPath: '/src/assets/img/tariffs/tariff_base.svg',
                                type: 'optimum',
                                desc: [
                                    {iconPath: '/src/assets/icons/real_estate.svg', text: [
                                        "Возможность создавать до трех объектов недвижимости одновременно*",
                                        "Неограниченное количество аренд на созданные объекты"
                                    ]},
                                    {iconPath: '/src/assets/icons/counters.svg', text: [
                                        "Возможность создания счетчиков, уведомлений о внесении показаний и платежных днях",
                                        "Прикрепление фото к показаниям счетчиков",
                                    ]},
                                    {iconPath: '/src/assets/icons/done.svg', text: [
                                        "Создание, редактирование, согласование ремонтов",
                                        "Добавление, удаление, просмотр документов",
                                        "Просмотр событий на Объекте",
                                        "Редактирование профиля",
                                        "Чат с техподдержкой, арендатором, получение системных уведомлений",
                                        "Функционал календаря",
                                        "Подключение платных услуг",
                                    ]},
                                    {iconPath: '/src/assets/icons/extra.svg', text: [
                                        "*Объекты можно удалять и создавать новые, но в моменте не может быть более трех созданных объектов.",
                                    ], isExtra: true},
                                ]
                            },
                            
                        ]
                    each  tariff in tariffs
                        li.tariffs__item.tariff
                            .tariff__preview(data-attr= tariff.type)
                                img(src=tariff.previewImgPath, alt="").tariff__previewImg
                                .tariff__name= tariff.name
                            .tariff__title= tariff.title
                            ol.tariff__list
                                each item in tariff.desc
                                    li.tariff__item(data-attr=item.isExtra ? 'extra' : null)
                                        img(src=item.iconPath).tariff__item_icon  
                                        ul.list
                                            each t in item.text
                                                li.item= t
                .tariffs__actions
                    .btn Попробовать сейчас!
                .tariffs__disclamer   
                    .tariffs__title 30 дней бесплатно на весь функционал!
                    p.tariffs__disclamer_text 
                        | С момента регистрации у Вас будет возможность использовать функционал платформы в полном объеме. Узнав все возможности МОНО, Вы сможете выбрать наиболее      подходящий тариф после окончания бесплатного периода


                        