-
    var tariffs = [
        {
            name: 'Базовый',
            title: 'Бесплатно',
            previewImgPath: '/src/assets/img/tariffs/tariff_base.svg',
            type: 'base',
            desc: [
                {iconPath: '/src/assets/icons/real_estate.svg', alt: 'Объект недвижимости', text: [
                    "Возможность создать один объект недвижимости*",
                    "Возможность создания одной аренды сроком до 12 месяцев**"
                ]},
                {iconPath: '/src/assets/icons/counters.svg', alt: 'Показания счетчиков недвижимости', text: [
                    "Возможность создания счетчиков, уведомлений о внесении показаний и платежных днях",
                ]},
                {iconPath: '/src/assets/icons/done.svg', alt: 'Согласование ремонта', text: [
                    "Создание, редактирование, согласование ремонтов",
                    "Добавление, удаление, просмотр документов",
                    "Просмотр событий на Объекте",
                    "Редактирование профиля",
                    "Чат с техподдержкой, арендатором, получение системных уведомлений",
                    "Функционал календаря",
                    "Подключение платных услуг",
                ]},
                {iconPath: '/src/assets/icons/extra.svg', alt: 'Прочее', text: [
                    "*Удаление единственного объекта недвижимости ведет к невозможности создания новых.",
                    "**Создание дочерней аренды не может превышать срок родительской аренды."
                ], isExtra: true },
            ]
        },
        {
            name: 'Оптимальный',
            title: '700 рублей в месяц',
            previewImgPath: '/src/assets/img/tariffs/tariff_base.svg',
            type: 'optimum',
            desc: [
                {iconPath: '/src/assets/icons/real_estate.svg', alt: 'Объект недвижимости', text: [
                    "Возможность создавать до трех объектов недвижимости одновременно*",
                    "Неограниченное количество аренд на созданные объекты"
                ]},
                {iconPath: '/src/assets/icons/counters.svg', alt: 'Показания счетчиков недвижимости', text: [
                    "Возможность создания счетчиков, уведомлений о внесении показаний и платежных днях",
                    "Прикрепление фото к показаниям счетчиков",
                ]},
                {iconPath: '/src/assets/icons/done.svg', alt: 'Согласование ремонта', text: [
                    "Создание, редактирование, согласование ремонтов",
                    "Добавление, удаление, просмотр документов",
                    "Просмотр событий на Объекте",
                    "Редактирование профиля",
                    "Чат с техподдержкой, арендатором, получение системных уведомлений",
                    "Функционал календаря",
                    "Подключение платных услуг",
                ]},
                {iconPath: '/src/assets/icons/extra.svg', alt: 'Прочее', text: [
                    "*Объекты можно удалять и создавать новые, но в моменте не может быть более трех созданных объектов.",
                ], isExtra: true},
            ]
        },
        {
            name: 'Максимальный',
            title: '5000 рублей в месяц',
            previewImgPath: '/src/assets/img/tariffs/tariff_max.svg',
            type: 'max',
            desc: [
                {iconPath: '/src/assets/icons/real_estate.svg', alt: 'Объект недвижимости', text: [
                    "Возможность создавать до десяти объектов недвижимости одновременно*",
                    "Неограниченное количество аренд на созданные объекты",
                    "Подключение Управляющего",
                    "Создание объекта сверх пакета за дополнительную плату",
                ]},
                {iconPath: '/src/assets/icons/counters.svg', alt: 'Показания счетчиков недвижимости',  text: [
                    "Возможность создания счетчиков, уведомлений о внесении показаний и платежных днях",
                    "Прикрепление фото к показаниям счетчиков",
                    "Передача показаний счетчиков в Управляющую компанию по email*",
                ]},
                {iconPath: '/src/assets/icons/done.svg', alt: 'Согласование ремонта', text: [
                    "Создание, редактирование, согласование ремонтов",
                    "Добавление, удаление, просмотр документов",
                    "Просмотр событий на Объекте",
                    "Редактирование профиля",
                    "Чат с техподдержкой, арендатором, получение системных уведомлений",
                    "Функционал календаря",
                    "Подключение платных услуг",
                ]},
                {iconPath: '/src/assets/icons/extra.svg', alt: 'Прочее', text: [
                    "*Объекты можно удалять и создавать новые, но одновременно не может быть более десяти созданных объектов.",
                    "** Если УК поддерживает функционал передачи показаний счетчиков по email",
                ], isExtra: true},
            ]
        },
    ]

section.section.section__tariffs
    .container.tariffs
        .tariffs__head
            .tariffs__decor
            h4.tariffs__title Выбирайте подходящий тариф для комфортной работы
        .tariffs__body
            ul.tariffs__list
                each  tariff in tariffs
                    li.tariffs__item.tariff
                        .tariff__preview(data-attr= tariff.type)
                            img(src=tariff.previewImgPath, alt=`${tariff.name} тариф моно` loading="lazy").tariff__previewImg
                            .tariff__name= tariff.name
                        .tariff__title= tariff.title
                        .tariff__list

                            each item, index in tariff.desc
                                if index === 0
                                    .tariff__item(data-attr=item.isExtra ? 'extra' : null)
                                        img(src=item.iconPath, alt=item.alt loading="lazy").tariff__item_icon  
                                        ul.list
                                            each t in item.text
                                                li.item= t

                            .tariff__accordion.accordion
                                .accordion__body 
                                    each item, index in tariff.desc
                                        if index > 0
                                            .tariff__item(data-attr=item.isExtra ? 'extra' : null)
                                                img(src=item.iconPath, alt=item.alt loading="lazy").tariff__item_icon  
                                                ul.list
                                                    each t in item.text
                                                        li.item= t
                                .accordion__head 
                                    .accordion__name 
                                        .more еще ...
                                        .closed скрыть
                                    .accordion__img     
                                        .plus
                                        .minus

            .tariffs__actions
                a(href="#", data-link='reg', rel="nofollow").btn.uppercase
                    // | Попробовать сейчас!
                    | Уведомить о старте
            .tariffs__disclamer   
                h4.tariffs__title 30 дней бесплатно на весь функционал!
                p.tariffs__disclamer_text 
                    | С момента регистрации у Вас будет возможность использовать функционал платформы в полном объеме. Узнав все возможности МОНО, Вы сможете выбрать наиболее      подходящий тариф после окончания бесплатного периода


                